{% extends 'layout.html' %}

{% block body %}
<h3 style="color: darkblue">About Us</h3>
<hr>
<h5 style="color: darkred;">This project is created for helping people to make their own food instead of ordering from restaurants. Especially in this quarantine days, people can’t order the food because of hygiene issues.
People can’t know if the food has virus or not.</h5>
<br>
<h5 style="color: darkred;">So this project will help people to cook under their roof with special and easy recipes. This program contains a large amount of food recipes. There are some recipes inside the program itself. All are collected from chefs around World.</h5> 
<br>
<h5 style="color: darkred;">	This program has an easily understandable interface that you will figure out things quickly. 
	Main menu will welcome you to deep inside recipe world. You can search your food by asking the program it’s cuisine or difficulty or you can search it just by it’s name! 
You might think that these food recipes are not my taste, or you might think these are not various enough. We also have a solution for this. You can add your own recipes inside this program. 
Always moms know the best recipes, so you can collect recipes from your mom and add them into the Momma’s Kitchen.
Is there a recipe that you dislike? You can delete it easily with deleting recipe process. Get rid of those you don’t want to see! Sometimes you can change your idea about your recipe. Food suppose to taste good but it doesn’t ? This program has a solution for that as well. You can edit your recipe and make it even tastier!</h5>
<br>
<h5 style="color: darkred;"> With this program, you can be the chef that you desire to be! All you have to do is getting this program!  After that, you will feel safe when eating your world class food and learn cooking skills to make people around you and yourself happy.</h5>
{% endblock body %}